.header {
  text-align: center;
  background-color: bisque;
}

.header img {
  height: 100px;
}
.header nav {
  background-color: black;
  font-size: 20px;
  line-height: 40px;
}
.header a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 5px;
}
nav a:hover {
  background-color: gray;
  color: aqua;
}
